.submit__btn {
  background: linear-gradient(135deg, #000, #737373);
  width: 20%;
  text-align: center;
  margin-left: 35px;
  color: white;
  display: block;
  margin-bottom: 100px;
  border: none;
  border-radius: 30px;
  padding: 10px 5px;
}
